*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    animation: bgcolor infinite;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/homepage.png);
    background-position: center;
    background-size: cover;
    position: relative;
   
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 70px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
    }
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;4
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav.fa{
    display: none;
}

@media(max-width:700px){
    .text-box h1{
    font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: #f4436;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    
    }
    nav.fa{
        display:block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

/*-----course-----*/
.bgm{
    width: 100%;
    background-color: ;
    background: cover;
}
.Course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}

h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*----campus----*/

.campus{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.campus-col{
    flex-basis: 28%;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    widows: 100%;
    display: block;
    
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.layer:hover{
    background: rgba(226,0,0,0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

/*--- Facilities ---*/
.Facilities{
     width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.Facilities-col{
   flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.Facilities-col img{
    width: 100%;
    border-radius: 10px;
}
.Facilities-col p{
    padding: 0;
}
.Facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/stud.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 11px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
@media(max-width:700px){
    .cta h1{
        font-size: 24px;
    }
}

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons{
    color: #f44336;
    margin: 0;
    cursor: pointer;
    padding: 0;

}
.icons a{
    height: 100px;
    width: 100px;
    background-color: #f5f6fa;
    border-radius: 50px;
    text-align: center;
    margin: 10px;
    line-height: 10px;
    box-shadow: 1px 4px 2px 2px #dcdde1;
}
.icon a i{
    transition: all 0.3s linear;
}
.icon a:hover i{
    transform: scale(1.4);
}
.fa-facebook{
    color: #4267B2;
}
.fa-twitter{
    color: #0097e6;
}
.fa-instagram{
    color: #e84393;
}
.fa-linkedin{
    color: #0e76a8;
}


/*------About CSE Page ------*/

.sub-header{
    height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/stdindust.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header h1{
    margin-top: 52px;
    margin-right: 50px;
}
.bgc{
    width: 100%;
    background-color: antiquewhite;
    background: cover;
}

.about-CSE{
    width: 100%;
    margin: auto;
    padding-top: 3px;
   height: auto;
   
}
.about-col{
    width: 100%;
    height: 500px;
    flex-basis: 48%;
    padding: 30px 2px;
    
}
.about-col img{
    margin-top: 15px;
    width: 90%;
    height: 75%;

}
.about-col h2{
        padding-top: 0;
    margin-top:3px;
    margin-left: 30px;
    }
.about-col p{
    padding: 15px 0 20px;
    margin-left: 15px;
    
}
.red-btn{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
    margin-left: 250px;
}
.red-btn:hover{
    color: #fff;
}
.bgclr{
    background-color: gainsboro;
}
.cse{
    width: 100%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-head{
    flex-basis: 48%;
    padding: 30px 2px;
    text-align: center;
    font-display: fallback;
}


.CSE{
    width: 85%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.CSE-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.CSE-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    
}


/*------Faculty------*/
.pre-header{
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/fac.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.pre-header h1{
    margin-bottom: 7px;
}
.bg{
    background-color: lavender;
    background: cover;
}
.faculty{
    width: 80%;
    margin: auto;
    padding-top: 100px
    text-align: center;
    
   
}
.faculty h1{
    text-align: center;
}
.faculty p{
    text-align: center;
}
.faculty-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: end;
    background: #fff3f3;
    padding: 2px;
    cursor: pointer;
    display: flex;
}
.faculty-col img{
    height: 200px;
    margin-left: 15px;
    margin-right: 7px;
    border-radius: 40px;
}
.faculty-col h3{
    padding: 0;
    margin-top: 15px;
    text-align: left;
    font-size: 15px;
}
.faculty-col :hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}



/*----Acheivements----*/
.bg-gradiant{
    width: 100%;
    background-color: azure;
}
.post-header{
    height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,00.7),rgba(4,9,30,0.7)),url(../images/wpbc.jpeg);
    background-position: center;
    text-align: center;
    color: #fff;
}
.post-header h1{
   margin-top: 80px;
    margin-left: 10px;
   
}
.b-grad{
    width: 100%;
    background-color: beige;
}
.edu{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h2{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300
    line-height: 22px;
    padding: 10px;
}
.edu img{
    width: 40%;
}
.winners{
     width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    
    

}
.winners-col{
   flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background-color: cornsilk;
}
.winners-col img{
    width: 80%;
    border-radius: 10px;
    background-image: 20%;
}
.image-resize{
    height: 10px;
}
.winners-col p{
    padding: 0;
}
.winners-col h2{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

.winners-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.bg-grad1{
    width: 100%;
    background-color: beige;
}
.about-tak{
     width: 100%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-tak h1{
    text-align: center;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.tak-col{
    flex-basis: 4%;
    background-color: black;
    border-radius: 40px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    margin-right: 3%;
    margin-left: 7%;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0px;
}

.tak-col video{
    width: 300px;
    height: auto;
    border-radius: 40px;
}
.tak-col video:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    
}
.tak h2{
    margin-left: 2%;
}
.tak li{
    margin-left: 4%;
}
.tak ul {
  list-style-type: square;
  margin: 0;
  padding: 0;
}
.head{
    text-align: center;
    
}
.about-tak h4{
    text-align: center;
}
.about1-tak{
    flex-basis: 31%;
    background: #6495ED;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    margin-left: 7%;
}
.about2-tak h4{
    text-align: center;
}
.about2-tak{
     flex-basis: 31%;
    background: #6495ED;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    margin-left: 3%;
    margin-right: 4%;
}
.about3-tak h4{
    text-align: center;
}
.about3-tak{
     flex-basis: 31%;
    background: #6495ED;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    margin-right: 3%;
    margin-left: 1%;
    
}
/*----contact us----*/
.top-header{
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,00.7),rgba(4,9,30,0.7)),url(../images/college.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.top-header h1{
   margin-top: 150px;
}
.location{
    width: 80%;
    margin:auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}
.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.contact-col input,.contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
